[includeIf "gitdir:~/git-repos/persona/"]
	path = ~/.gitconfig-persona

[includeIf "gitdir:~/git-repos/ejwaibel/"]
	path = ~/.gitconfig-ejwaibel

[includeIf "gitdir:~/dotfiles/"]
	path = ~/.gitconfig-ejwaibel

[user]
	useConfigOnly = true

[core]
	autocrlf = false
	editor = code --wait

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = yellow
	untracked = cyan

[push]
	default = current

[diff]
	tool = meld

[difftool]
	prompt = false

[difftool "meld"]
	trustExitCode = true
	cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"

[merge]
	tool = meld

[mergetool]
	keepBackup = false
	prompt = false

[branch]
	autosetupmerge = true

[url "https://"]
	insteadOf = git://

[alias]
	l = "log --no-merges"
	lg = "log --format='%Cred%h%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset%C(yellow)%d%Creset' --no-merges"
	lgp = "log -p"
	st = status
  	ci = commit
  	undo-ci = reset --soft HEAD^
  	unstage = reset HEAD
  	br = branch
  	mkbr = checkout -b
  	rmbr = branch -d
  	rmbrf = branch -D
  	co = checkout
  	df = diff -w -b
  	dt = difftool --no-prompt
  	mg = merge --no-ff
  	mt = mergetool --no-prompt
  	set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
    mvtag = "!f() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1 && git push --tags; }; f"
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	spull = pull --recurse-submodules
	supdate = submodule update --remote --merge
	sf = submodule foreach
	release = !sh ./bin/git-release $1
[credential]
	helper = osxkeychain
[merge "ours"]
	driver = true
