[core]
	autocrlf = false
	editor = subl -n -w
	excludesfile = /Users/bztv56/.gitignore_global

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = yellow
	untracked = cyan

[push]
	default = current

[diff]
	guitool = meld
	tool = meld

[difftool "meld"]
	path = "meld"
	prompt = false

[mergetool "meld"]
	trustExitCode = true
	keepBackup = false
	prompt = false

[merge]
	tool = meld

[branch]
	autosetupmerge = true

[url "https://"]
	insteadOf = git://

[alias]
	l = "log --no-merges"
	lg = "log --format='%Cred%h%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset%C(yellow)%d%Creset' --no-merges"
	lgp = "log -p"
	st = status
  	ci = commit
  	br = branch
  	mkbr = checkout -b
  	rmbr = branch -D
  	co = checkout
  	df = diff -w -b
  	dt = difftool --no-prompt
  	mg = merge --no-ff
        mvtag = "!f() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1 && git push --tags; }; f"
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
	sf = submodule foreach
[status]
	submodulesummary = 1
[credential]
	helper = osxkeychain
