[core]
	autocrlf = false
[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[user]
	name = Erik Waibel
	email = ejwaibel@gmail.com

[push]
	default = current

[merge]
	tool = meld

[mergetool]
	keepBackup = false

[branch]
	autosetupmerge = true

[url "https://"]
	insteadOf = git://

[alias]
	l = "log --no-merges"
	lg = "log --format='%Cred%h%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset%C(yellow)%d%Creset' --no-merges"
	lgp = "log -p"
	st = status
  	ci = commit
  	br = branch
  	mkbr = checkout -b
  	rmbr = branch -D
  	co = checkout
  	df = diff -w -b
  	mg = merge --no-ff
